
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rakkas&display=swap');

:root {
  --heading-font: "Rakkas";
  --paragraph-font: Lato, Helvetica, sans-serif;
}
  
body {
  text-align-last: center;
  background-color: #427AA1;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}

nav a {
  text-align: center;
  text-decoration: none;
  color: #EBF2FA;
  padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
  text-align: center;
}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}

#background {
  height: 725px;
  background-color: #EBF2FA;
}

header {
  background-color: #679436;
}

nav a:hover{
  color: #427AA1;
  background-color: #A5BE00;
}

.book, .join {
  background-color: #679436;
  color: #0000EE;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book:hover, .join:hover {
  background-color: #A5BE00;
  color: #0000EE;
}

.msg {
  background-color: #427AA1;
  line-height: 1.5em;
  padding: 35px;
}

footer {
  background-color: #427AA1;
  padding: 25px 50px;
  margin-top: 200px;
}

.home-title {
  font-family: 'Rakkas', 'sans-serif';
  color: #A5BE00;
  margin-top: 10px;
}

h4 {
  color: #A5BE00;
}

h1, h2, h3 {
  font-family: var(--heading-font);
}

p {
  font-family: var(--paragraph-font);
}

.msg h2 {
  color: #EBF2FA;
}

.msg p {
  color: #EBF2FA;
  padding-bottom: 15px;
}

footer h3 {
  color: #EBF2FA;
}

footer a {
  color: #0000EE;
}

footer a:hover {
  color: #0000EE;
}

.icon {
  width: 80px;
  padding-top: 10px;
}

.logo {
  width: 80px;
}

#hero-img {
  width: 100%;
}

h2 {
  margin: 0;
}

#logo_link {
  padding-top: 5px;
}

footer .social img {
  padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
}

.card-img {
  border: 10px solid #d9c2a3;
}

main section img {
  box-sizing: border-box;
}